.container {
    position: absolute;
    top: calc(50% - 325px);
    left: calc(50% - 265px);
    width: 530px;
    height: 530px;
    border: 1px solid rgba(66, 86, 122, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 0;
    z-index: 999;
}
.point {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #42567a;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.6s;

    &__active,
    &:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border: 2px solid #42567a;
        background: white;
        border-radius: 50%;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0;
        font-family: "PT Sans", sans-serif;
    }
}
